<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Images uploaded</title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>
  <body>
    <section class="gallery container">
      <h1>wgrane obrazy</h1>
      <button class="go_back">
        <a href="http://localhost:9000/start">Powrót do dodawania</a>
      </button>
      <div id="images"></div>
    </section>
  </body>
</html>
